.header {
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: #ffff;
  background-image: url(../images/background_header.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
  min-height: 720px;
  max-height: 800px;
}
.header__image {
  height: 568px;
  width: 646px;
  display: flex;
  position: absolute;
  right: 5px;
  top: 124px;
}
.header__title {
  max-width: 709px;
  margin-top: 183px;
  margin-bottom: 0;
  margin-left: 80px;
}
.header__description {
  max-width: 683px;
  font-family: "Noto Serif";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  margin-top: 28px;
  margin-left: 80px;
}

.header__footer {
  display: flex;
  flex-direction: column;
}
.header__footer-hours {
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: 40px;
  left: 80px;
  column-gap: 0;
  margin: 0;
  padding: 0;
}
.header__paragraph {
  font-family: "Inter";
  font-style: normal;
  color: #838383;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  column-gap: 0;
  margin: 0;
  padding: 0;
}

.header__footer-address {
  position: absolute;
  right: 80px;
  bottom: 40px;
}
