.nav {
  display: flex;
  justify-content: space-between;
}
.nav__links {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  position: absolute;
  top: 30px;
  right: 80px;
  display: flex;
  justify-content: space-between;
  column-gap: 20px;
  list-style-type: none;
}
.nav__link {
  color: #000000;
  text-decoration: none;
  font-weight: bold;
}
.nav__link:hover {
  color: #2f80ed;
}
.nav__logo {
  width: 105px;
  height: 39px;
  margin-top: 30px;
  margin-left: 30px;
}
